<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xu.community.dao.DiscussPostMapper">
    <!--将查询的字段提取出来公用-->
    <sql id="selectFields">
        id
        ,user_id,title,content,type,status,create_time,comment_count,score
    </sql>
    <!--将插入的字段提取出来公用-->
    <sql id="insertFields">
        user_id
        ,title,content,type,status,create_time,comment_count,score
    </sql>
    <!--id是方法名字，resuleType是返回类型  orderMode=0按时间排，orderMode=1按热度分数排-->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        <if test="orderMode==0">
            order by type desc, create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc, score desc, create_time desc
        </if>
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
    <!--增加一个帖子-->
    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post(<include refid="insertFields"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        select
        <include refid="selectFields"></include>
        from discuss_post
        where id=#{id}
    </select>

    <update id="updateCommentCount">
        update discuss_post
        set comment_count=#{commentCount}
        where id = #{id}
    </update>
    <!--更新帖子的类型-->
    <update id="updateType">
        update discuss_post set type = #{type} where id = #{id}
    </update>
    <!--更新帖子的状态-->
    <update id="updateStatus">
        update discuss_post set status = #{status} where id = #{id}
    </update>
    <!--更新帖子的分数-->
    <update id="updateScore">
        update discuss_post set score = #{score} where id = #{id}
    </update>
</mapper>
